.deleteButton {
    background-color: #d12734;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.updateButton {
    background-color: #197546;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.saveButton {
    background-color: #197546;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}